.bgBody {
    background-image: url(./images/goatBg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: cursive;
}

.boxDesign {
    display: flex;
    gap: 20px;
}

.parentDiv {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 98vh;
}

.countdown {
    background-color: #725e57;
    font-size: 20px;
    font-weight: bold;
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 240px;
    color: white
}

.heading {
    position: absolute;
    font-size: 70px;
    left: 50px;
    top: 80px;
    color: #4e6d7c;
}

.heading2 {
    position: absolute;
    font-size: 28px;
    left: 85px;
    top: 200px;
    color: #4e6d7c;
}

.celebratedDiv {
    position: absolute;
    bottom: 320px;
    left: 50px;
    font-size: 32px;
    font-weight: bold;
    color: rgb(110, 23, 23)
}